In [1]:
import requests as r
import json
import pandas as pd
from many_requests import ManyRequests
import numpy as np
import csv
import ast

In [2]:
df_movies = pd.read_csv("./created/movies.csv")

In [3]:
df_movies

,tmdb_id,movie_id,popularity,original_title,genres,release_date,studios,duration
0,862,1,121.584,Toy Story,"['Animation', 'Adventure', 'Family', 'Comedy']",1995-10-30,['Pixar'],81
1,8844,2,15.254,Jumanji,"['Adventure', 'Fantasy', 'Family']",1995-12-15,"['TriStar Pictures', 'PolyGram Filmed Entertai...",104
2,15602,3,12.317,Grumpier Old Men,"['Romance', 'Comedy']",1995-12-22,"['Warner Bros. Pictures', 'Lancaster Gate']",101
3,31357,4,14.013,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",1995-12-22,['20th Century Fox'],127
4,11862,5,16.076,Father of the Bride Part II,"['Comedy', 'Family']",1995-12-08,"['Sandollar Productions', 'Touchstone Pictures']",106
...,...,...,...,...,...,...,...,...
49995,392982,177243,12.077,Marshall,['Drama'],2017-10-13,['Chestnut Ridge'],118
49996,300687,177245,15.199,Same Kind of Different as Me,['Drama'],2017-10-20,"['Paramount', 'Disruption Entertainment', 'Cha...",119
49997,113905,177247,2.974,Malatesta’s Carnival of Blood,['Horror'],1973-01-01,[],74
49998,394528,177249,2.710,Louis Theroux: Drinking to Oblivion,['Documentary'],2016-04-24,['BBC Documentaries Production'],60
49999,397674,177251,2.332,Louis Theroux: A Different Brain,['Documentary'],2016-05-15,[],60

In [4]:
correct_format_studio = df_movies["studios"].apply(lambda x: ast.literal_eval(x))
correct_format_studio = correct_format_studio.apply(lambda x: ":".join(x))
correct_format_genres = df_movies["genres"].apply(lambda x: ast.literal_eval(x))
correct_format_genres = correct_format_genres.apply(lambda x: ":".join(x))

In [5]:
df_movies["studios"] = correct_format_studio
df_movies["genres"] = correct_format_genres

In [6]:
df_movies

,tmdb_id,movie_id,popularity,original_title,genres,release_date,studios,duration
0,862,1,121.584,Toy Story,Animation:Adventure:Family:Comedy,1995-10-30,Pixar,81
1,8844,2,15.254,Jumanji,Adventure:Fantasy:Family,1995-12-15,TriStar Pictures:PolyGram Filmed Entertainment...,104
2,15602,3,12.317,Grumpier Old Men,Romance:Comedy,1995-12-22,Warner Bros. Pictures:Lancaster Gate,101
3,31357,4,14.013,Waiting to Exhale,Comedy:Drama:Romance,1995-12-22,20th Century Fox,127
4,11862,5,16.076,Father of the Bride Part II,Comedy:Family,1995-12-08,Sandollar Productions:Touchstone Pictures,106
...,...,...,...,...,...,...,...,...
49995,392982,177243,12.077,Marshall,Drama,2017-10-13,Chestnut Ridge,118
49996,300687,177245,15.199,Same Kind of Different as Me,Drama,2017-10-20,Paramount:Disruption Entertainment:Chazown Pic...,119
49997,113905,177247,2.974,Malatesta’s Carnival of Blood,Horror,1973-01-01,,74
49998,394528,177249,2.710,Louis Theroux: Drinking to Oblivion,Documentary,2016-04-24,BBC Documentaries Production,60
49999,397674,177251,2.332,Louis Theroux: A Different Brain,Documentary,2016-05-15,,60

In [7]:
df_movies.to_csv("./created/correct_format_movies.csv", index = False)