In [13]:
import pandas as pd

In [14]:
data = pd.read_csv("../data/movies.csv")

In [15]:
data.head()

,Unnamed: 0,tmdb_id,movie_id,popularity,original_title,genres,release_date
0,0,862,1,126.006,Toy Story,"['Animation', 'Adventure', 'Family', 'Comedy']",1995-10-30
1,1,8844,2,19.343,Jumanji,"['Adventure', 'Fantasy', 'Family']",1995-12-15
2,2,15602,3,13.496,Grumpier Old Men,"['Romance', 'Comedy']",1995-12-22
3,3,31357,4,10.476,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",1995-12-22
4,4,11862,5,17.105,Father of the Bride Part II,"['Comedy', 'Family']",1995-12-08

In [16]:
data[data["movie_id"] == 1]["genres"]

0    ['Animation', 'Adventure', 'Family', 'Comedy']
Name: genres, dtype: object

In [17]:
def split(s):
    return [word.strip("'") for word in s.strip("][").split(", ")]

In [18]:
print(split("['Animation', 'Adventure', 'Family', 'Comedy']")[0])

Animation

In [19]:
import csv

In [20]:
with open("../data/genres.csv", "w", newline="") as f:
    csv_writer = csv.writer(f)
    csv_writer.writerow(['movie_id', 'genre'])
    for index, row in data.iterrows():
        movie_id = row['movie_id']
        for genre in split(row['genres']):
            if (genre != ""):
                csv_writer.writerow([movie_id, genre])

In [21]:
data[data['movie_id']==139]["genres"]

137    []
Name: genres, dtype: object